.menu {
    vertical-align: top;
    display: inline-block;
    text-align: left;
    border:solid;
    width:300px;
    height:800px;
    padding-left: 0px;
    top:20px;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 10px;
    margin-right: 15px;
}
ul {
    padding-top: 0px;
    margin-left:5px;
    padding-left:0px;
    list-style: none;
}
li {
    position: relative;
    padding: 2px;
    margin-left:0px;
    margin-right:0px;
    cursor: pointer;
    height:50px;
    border-bottom: solid;
    border-width: 2px;
    line-height: 40px;
}
.icon {
    float: right;
}
.add {
    background-color: lightgray;
}
.add:hover {
    background-color: gray;
}
.img {
    position: relative;
    bottom:0px;
    margin:0px;
    margin-right: 10px;
    width:40px;
    height:40px;
    border-radius:50%;
    vertical-align: top;
}

.Btn1 {
    margin-left: 100px;
}
.Btn2 {
    float: right;
    margin-right:100px;
}